.type-container {
  margin: 20px auto;
  padding: 1rem;

  .type-header{
    display: flex;
    justify-content: space-between;
  }

  .mat-display-1 {
    margin-bottom: 20px;
  }

  .type-request-card {
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    .type-data{
      display: flex;
      justify-content: space-between;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .no-type-message {
    text-align: center;
    margin-top: 20px;
  }
}
